def begin(int steps) {
	monitor.begin(steps)
}

def worked(int workedSteps) {
	monitor.worked(workedSteps)
}

def isCanceled() {
    monitor.isCanceled()
}

void println(Object output) {
   monitor.println(output)
}